<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>




  <div class="container-fluid">


    <div id="projects" class="menu-container">

      <h4 class="menu-header">Sort By:</h4>
      <div class="menu">
        <div class="menu-item">
          <h4>All Projects</h4>
          <button (click)=toggleAll() class="btn">All</button>
        </div>
        <div class="menu-item">
          <h4>By Language</h4>
          <div *ngFor="let language of language">
            <input name="{{language.id}}" type="radio" class="languages" value="{{language.id}}"
              [(ngModel)]="selectedLanguage" (change)="projectsByLanguage()" (change)="togglelanguage()"
              class="btn-check" id="{{language.id}}">

            <label class="btn" for="{{language.id}}">{{language.language}}</label>
          </div>
        </div>
        <div class="menu-item">
          <h4>By Framework</h4>
          <div *ngFor="let framework of framework">
            <input name="{{framework.framework}}" type="radio" class="framework" value="{{framework.id}}"
              [(ngModel)]="selectedFramework" (change)="projectsByFramework()" (change)="toggleframework()"
              class="btn-check " id="{{framework.framework}}">
            <label class="btn" for="{{framework.framework}}">{{framework.framework}}</label>
          </div>
        </div>
      </div>


    </div>
    <div class="half">

      <div *ngIf="AllShow" class="allprojects-title">
        <h1 class="projects-header">All Projects</h1>
        <div class="allprojects-container">
          <div *ngFor="let project of project">
            <div id="box" class="box" (click)="open(mymodal)">
              <img class="project-img" src="{{cloud}}{{project.image}}">
              <div type="button" class="box-content">
                <div class="box-text">
                  <span class="post">{{project.details}}</span>
                </div>
                <div class="building-blocks">

                  <div class="block">
                    <h5 class="block-title">Languages:</h5>
                    <ul class="block-items" *ngFor="let language of language">
                      <li>{{language.language}}</li>
                    </ul>
                  </div>

                  <div class="block">
                    <h5 class="block-title">Frameworks:</h5>
                    <ul class="block-items" *ngFor="let framework of framework">
                      <li>{{framework.framework}}</li>
                    </ul>
                  </div>


                </div>
              </div>
              <ul class="icon">
                <li><a href="#"><i class="fa fa-search"></i></a></li>
                <li><a href="#"><i class="fa fa-link"></i></a></li>
              </ul>
            </div>
            <!-- Modal -->

            <div class="project-name">
              <h3>{{project.name}}</h3>
              <a routerLink="/rate/{{project.id}}">rate</a>

            </div>

            <ng-template #mymodal let-modal>
              <div class=" modal-content">
                <h4 class="modal-title m-piece">{{project.name}}</h4>
                <div class="modal-cont-img">
                  <div class="modal-image m-piece">
                    <img class="modal-img project-img" src="{{cloud}}{{project.image}}">
                  </div>
                  <div class="modal-details m-piece">
                    <h3>Description</h3>
                    <p>{{project.details}}</p>
                  </div>
                </div>
                <div class="modal-tool m-piece">
                  <h4>Built with:</h4>
                  <div class="modal-tools">
                    <div class="block">
                      <h5 class="block-title">Languages</h5>
                      <div class="block-items" *ngFor="let language of language">
                        <p>{{language.language}}</p>
                      </div>
                    </div>

                    <div class="block">
                      <h5 class="block-title">Frameworks</h5>
                      <div class="block-items" *ngFor="let framework of framework">
                        <p>{{framework.framework}}</p>
                      </div>
                    </div>

                    <div class="block">
                      <h5 class="block-title">Other tools</h5>
                      <div class="block-items" *ngFor="let tools of tools">
                        <p>{{tools.tool}}</p>
                      </div>
                    </div>

                    <div class="block">
                      <h5 class="block-title">Database</h5>
                      <div class="block-items" *ngFor="let database of database">
                        <p>{{database.database}}</p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </ng-template>
          </div>
        </div>
      </div>
      <div *ngIf="langShow" class="allprojects-title">
        <h2>Projects by language</h2>
        <div class="allprojects-container">
          <div *ngFor="let project of byLanguage">
            <div [@flipInX]="flipInX" id="box" class="box" (click)="open(mymodal)">
              <img class="project-img" src="{{cloud}}{{project.image}}">
              <div type="button" class="box-content">
                <div class="box-text">
                  <span class="post">{{project.details}}</span>
                </div>
                <div class="building-blocks">

                  <div class="block">
                    <h5 class="block-title">Languages:</h5>
                    <ul class="block-items" *ngFor="let language of language">
                      <li>{{language.language}}</li>
                    </ul>
                  </div>

                  <div class="block">
                    <h5 class="block-title">Frameworks:</h5>
                    <ul class="block-items" *ngFor="let framework of framework">
                      <li>{{framework.framework}}</li>
                    </ul>
                  </div>


                </div>
              </div>
              <ul class="icon">
                <li><a href="#"><i class="fa fa-search"></i></a></li>
                <li><a href="#"><i class="fa fa-link"></i></a></li>
              </ul>
            </div>

            <!-- Modal -->

            <div class="project-name">
              <h3>{{project.name}}</h3>
              <a routerLink="/rate/{{project.id}}">rate</a>

            </div>

            <ng-template #mymodal let-modal>
              <div class=" modal-content">
                <h4 class="modal-title m-piece">{{project.name}}</h4>
                <div class="modal-cont-img">
                  <div class="modal-image m-piece">
                    <img class="modal-img project-img" src="{{cloud}}{{project.image}}">
                  </div>
                  <div class="modal-details m-piece">
                    <h3>Description</h3>
                    <p>{{project.details}}</p>
                  </div>
                </div>
                <div class="modal-tool m-piece">
                  <h4>Built with:</h4>
                  <div class="modal-tools">
                    <div class="block">
                      <h5 class="block-title">Languages</h5>
                      <div class="block-items" *ngFor="let language of language">
                        <p>{{language.language}}</p>
                      </div>
                    </div>

                    <div class="block">
                      <h5 class="block-title">Frameworks</h5>
                      <div class="block-items" *ngFor="let framework of framework">
                        <p>{{framework.framework}}</p>
                      </div>
                    </div>

                    <div class="block">
                      <h5 class="block-title">Other tools</h5>
                      <div class="block-items" *ngFor="let tools of tools">
                        <p>{{tools.tool}}</p>
                      </div>
                    </div>

                    <div class="block">
                      <h5 class="block-title">Database</h5>
                      <div class="block-items" *ngFor="let database of database">
                        <p>{{database.database}}</p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </ng-template>
          </div>
        </div>
      </div>

      <div *ngIf="frameShow" class="allprojects-title">
        <h2>Projects by framework</h2>
        <div class="allprojects-container">
          <div *ngFor="let project of byFramework">
            <div [@flipInX]="flipInX" id="box" class="box" (click)="open(mymodal)">
              <img class="project-img" src="{{cloud}}{{project.image}}">
              <div type="button" class="box-content">
                <div class="box-text">
                  <span class="post">{{project.details}}</span>
                </div>
                <div class="building-blocks">

                  <div class="block">
                    <h5 class="block-title">Languages:</h5>
                    <ul class="block-items" *ngFor="let language of language">
                      <li>{{language.language}}</li>
                    </ul>
                  </div>

                  <div class="block">
                    <h5 class="block-title">Frameworks:</h5>
                    <ul class="block-items" *ngFor="let framework of framework">
                      <li>{{framework.framework}}</li>
                    </ul>
                  </div>


                </div>
              </div>
              <ul class="icon">
                <li><a href="#"><i class="fa fa-search"></i></a></li>
                <li><a href="#"><i class="fa fa-link"></i></a></li>
              </ul>
            </div>
            <!-- Modal -->

            <div class="project-name">
              <h3>{{project.name}}</h3>
              <a routerLink="/rate/{{project.id}}">rate</a>

            </div>

            <ng-template #mymodal let-modal>
              <div class=" modal-content">
                <h4 class="modal-title m-piece">{{project.name}}</h4>
                <div class="modal-cont-img">
                  <div class="modal-image m-piece">
                    <img class="modal-img project-img" src="{{cloud}}{{project.image}}">
                  </div>
                  <div class="modal-details m-piece">
                    <h3>Description</h3>
                    <p>{{project.details}}</p>
                  </div>
                </div>
                <div class="modal-tool m-piece">
                  <h4>Built with:</h4>
                  <div class="modal-tools">
                    <div class="block">
                      <h5 class="block-title">Languages</h5>
                      <div class="block-items" *ngFor="let language of language">
                        <p>{{language.language}}</p>
                      </div>
                    </div>

                    <div class="block">
                      <h5 class="block-title">Frameworks</h5>
                      <div class="block-items" *ngFor="let framework of framework">
                        <p>{{framework.framework}}</p>
                      </div>
                    </div>

                    <div class="block">
                      <h5 class="block-title">Other tools</h5>
                      <div class="block-items" *ngFor="let tools of tools">
                        <p>{{tools.tool}}</p>
                      </div>
                    </div>

                    <div class="block">
                      <h5 class="block-title">Database</h5>
                      <div class="block-items" *ngFor="let database of database">
                        <p>{{database.database}}</p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </ng-template>
          </div>
        </div>
      </div>



    </div>
  </div>
  <script src="project.js"></script>

</body>

</html>